---
import Layout from '../layouts/Layout.astro';
import Chip from '../components/Chip.astro';
import RectangleCard from '../components/RectangleCard.astro';
import Carousel from '../components/Carousel.astro';
import {books, bestSellers} from "../data/books.js"
const list = [
    {
        image:"https://i.scdn.co/image/ab67616d00001e02407bd04707c463bbb3410737",
        isList:true,
        name:'List de ejemplo'
    },
    {
        image:"https://i.scdn.co/image/ab67616d00001e02407bd04707c463bbb3410737",
        isList:true,
        name:'List de ejemplo'
    },
    {
        image:"https://i.scdn.co/image/ab67616d00001e02407bd04707c463bbb3410737",
        isList:true,
        name:'Tate McRae'
    },
    {
        image:"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO4mwRSU-default.jpg",
        isList:true,
        name:'Becky Hill'
    },
    {
        image:"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO4mwRSU-default.jpg",
        isList:true,
        name:'Becky Hill'
    },
    {
        image:"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO4mwRSU-default.jpg",
        isList:true,
        name:'Becky Hill'
    },
    {
        image:"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO4mwRSU-default.jpg",
        isList:true,
        name:'Becky Hill'
    } 
    ] 
const categories = [ 'Todo','Ficcion','Tenologia','No ficcion','Infantil','Juvenil']
---

<Layout title="Book store"  >
	 <!-- header -->
      <div class="store" >
        <div class="store__header">
            {categories.map(category=>
                {
                   return <Chip labelText={category} />
                }     
            )}
        </div>
        <div class="store__list">
            {list.map(element=>
                {
                   return <RectangleCard image={element.image} isList={element.isList}  name={element.name} isForHome={true} />
                }     
            )}
        </div>
        <div class="store__recomendations" >
            <h2 class="store__recomendation-title"> Libros recomendados</h2>
            <Carousel books={books} id="df78"/>
        </div>
        <div class="store__best-sellers">
            <h2 class="store__recomendation-title"> Libros betsellers</h2>
            <Carousel books={bestSellers}  id="jf79"/>
        </div>
        <div class="store__autors">
            <h2 class="store__recomendation-title"> Lista de autores</h2>
            <Carousel books={books}  id="al40"/>
        </div>
        <!-- <div class="store__fiction">
            <h2 class="store__recomendation-title"> Libros de Ficcion</h2>
            <Carousel books={books}/>
        </div>
        <div class="store__adult">
            <h2 class="store__recomendation-title"> Libros Juveniles</h2>
            <Carousel books={books}/>
        </div>
        <div class="store__childs">
            <h2 class="store__recomendation-title"> Libors  Infantiles</h2>
            <Carousel books={books}/>
        </div> -->

      </div>
      <style>
        
        .store{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            position: relative;
        }
        .store__header{
            background-color: rgba(18, 18, 18, 0.188);
            background-image: linear-gradient(hsla(200, 34%, 72%, 0.321) 0, hsla(200, 34%, 72%, 0) 100%);
            background-image: linear-gradient(hsl(198.66deg 100% 26.81% / 40%) 0, hsla(200, 34%, 72%, 0) 100%);
            padding: 2.4rem .8rem;
            display: flex;
            gap: .8rem;
            width: 100%;
            overflow-x: auto;
            position: sticky;
            z-index: 2000;
            top: 0;
            animation: bg linear both;
            animation-timeline: scroll();
            animation-range: 0 12rem; 
              
        }
        @keyframes bg {
            to{
                background-color: #121212;
                background-image: linear-gradient(#121212 0, #121212 100%);
                padding: 1.6rem .8rem;
            }
        }
        .store__header *{
            transition: 500ms;
        }
        .store__list{
            display: grid;
            grid-template-columns: 1fr;
            gap: .8rem;
             
        }
        .store__recomendations{
            
        }
        .store__recomendation-title{
            font-size: 2.8rem;
        }
        @media (width>=768px){  
            .store__list{
                display: grid;
                grid-template-columns: 1fr 1fr;
                
                
            }
        }
       
       
      </style>
</Layout>
